body {
    margin:0px;
    padding:0px;
}

p, h3 {
	font-style:italic;
	padding:10px;
}

canvas#v3map {
    margin-top:2em;
    z-index: 1;
}

div#preview {
    position:absolute;
    display:none;
    background:#dddddd;
    border:1px solid #999999;
}

.message {
        left:10;
        top:10;
        height:100px;
        overflow:hidden;
        position:relative;
        width:98%;
        z-index:10;
        -moz-background-clip:border;
        -moz-background-inline-policy:continuous;
        -moz-background-origin:padding;
        font-size:15px;
        -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        -webkit-border-radius: 6px;
}
